{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hash Calculator</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}">
    </head>

    <body>
        {% block content %}
        replace me
        {% endblock %}
    </body>

    <footer>
        <div class="footer-content">
            <div class="footer-filler"></div>
            <div class="footer-item">
                Author: <a href="https://github.com/NotSirius-A" target="_blank" rel="noopener noreferrer">NotSirius-A</a>
            </div>
            <div class="footer-item">
                <img src="{% static 'favicon.ico' %}" height=50, width=50 />
            </div>
        </div>
    </footer>
</html>
